.h1{
    font-size: 33px;
text-transform: uppercase;
color: #019edb;
font-weight: 900;
font-family: "Lato";
margin-bottom: 20px;
}

.p1{
    width: 300px;
font-size: 15px;
line-height: 23px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";
margin-bottom: 30px;
}

.more{
    font-size: 15px;
letter-spacing: 0px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
width: 125px;
height: 35px;
border-radius: 17px;
background-color: #019edb;
cursor: pointer;
}

