.component2 {
    background-image: url('src/assets/Images/Layer 11.png');
    height: 1200px;
    background-color: rgb(41, 40, 40);
}

.com2h2 {
    left: 36%;
    font-size: 37px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 227%;
}

.com2p2 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 227%;
    top: 236%;
    left: 38%;
}

.feature {
    z-index: 1;
    position: absolute;
    top: 252%;
    left: 19%;
    opacity: 0.8;
    width: 321px;
    height: 180px;
    background-color: #454545;
    color: #ffffff;
}

.feature2 {
    z-index: 1;
    position: absolute;
    top: 252%;
    left: 55%;
    opacity: 0.8;
    width: 321px;
    height: 180px;
    background-color: #454545;
    color: #ffffff;
}

.img4 {
    z-index: 1;
    position: absolute;
    top: 256%;
    left: 49%;
}

.more2 {
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    width: 125px;
    height: 35px;
    border-radius: 17px;
    background-color: #019edb;
    z-index: 1;
    position: absolute;
    top: 293%;
    left: 45%;
    cursor: pointer;
}

@media (max-width:600px) {
    .component2{
        width: 1200px ;
        height: 970px;
    }
    .com2h2 {
        left: 91%;
        font-size: 37px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 900;
        font-family: "Lato";
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 179%;
    }
    .com2p2 {
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 227%;
        top: 207%;
        left: 80%;
        width: 300px;
    }
    .feature {
        z-index: 1;
        position: absolute;
        top: 223%;
        left: 19%;
        opacity: 0.8;
        width: 321px;
        height: 180px;
        background-color: #454545;
        color: #ffffff;
    }
    .feature2 {
        z-index: 1;
        position: absolute;
        top: 223%;
        left: 127%;
        opacity: 0.8;
        width: 321px;
        height: 180px;
        background-color: #454545;
        color: #ffffff;
    }
    .img4 {
        z-index: 1;
        position: absolute;
        top: 226%;
        left: 99%;
    }
    .more2 {
        font-size: 15px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        width: 125px;
        height: 35px;
        border-radius: 17px;
        background-color: #019edb;
        z-index: 1;
        position: absolute;
        top: 258%;
        left: 91%;
        cursor: pointer;
    }
  }