.box{
    position: absolute;
    top: 382px;
    /* left: 100px; */
    margin-left: 200px;
}

.img2{
    width: 1200px;
    overflow-x: hidden;
}

.component1{
    position: relative;
    top: -90px;
    background-color: white;
    height: 440px;
}

.box1{
    position: absolute;
    top: 382px;
    margin-left: 200px;
}

@media (max-width:600px) {
    .component1{
        height: 800px;
    }
  }