.component5{
    background-image: url('src/assets/Images/Testimonals.png');
    height: 622px;
}

.comp5h2 {
    font-size: 39px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    top: 703%;
    left: 39%;
}

.comp5p {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    top: 712%;
    left: 39.5%;
}

.test1{
    position: absolute;
    top: 729%;
    left: 15.5%;
    text-align: right;
}

.test2{
    position: absolute;
    top: 729%;
    left: 55.5%;
    text-align: left;
}

.comp5img{
    position: absolute;
    top: 729%;
    left: 50%;
}

@media (max-width:600px)
{
    .component5 {
        background-image: url(src/assets/Images/Testimonals.png);
        height: 622px;
        width: 1200px;
    }
    .comp5h2 {
        font-size: 39px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        position: absolute;
        top: 636%;
        left: 85%;
    }
    .comp5p {
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        position: absolute;
        top: 645%;
        width: 300px;
        left: 488px;
    }
    .test1 {
        position: absolute;
        top: 663%;
        left: 15.5%;
        text-align: right;
    }
    .test2 {
        position: absolute;
        top: 663%;
        left: 129.5%;
        text-align: left;
    }
    .comp5img {
        position: absolute;
        top: 664%;
        left: 104%;
    }
}